.cdx-anchor-tune-wrapper {
    display: flex;
}

.cdx-anchor-tune-icon {
    margin-left: 7px;
    display: flex;
    align-items: center;
}

.cdx-anchor-tune-icon svg {
    vertical-align: inherit;
}

.cdx-anchor-tune-input {
    width: 80px;
    border: 0;
    box-sizing: border-box;
    margin-left: 7px;
    outline: none;
}
